<form class="relative w-full px-6 pb-8 pt-2" id="search-bar">
  <div class="flex rounded-sm bg-[#FAFAFA] px-3 py-2">
    <button type="submit">
      <img src="./icon/search.svg" alt="" class="w-4" />
    </button>
    <input
      id="search"
      type="text"
      placeholder="Search"
      class="w-full bg-inherit px-2 outline-none"
      autocomplete="off"
    />
  </div>
  <div
    class="absolute left-0 top-32 z-50 hidden w-full rounded bg-white px-6"
    id="res"
  ></div>
</form>

<script type="module" src="/src/components/searchBar/searchBar.js"></script>
